/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html {
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.app_top {
  margin-bottom: -150px;
}
.app_top > h1 {
  text-align: center;
  color: white;
}

.app_logo {
  height: 12vh;
}

.app_videos {
  position: relative;
  height: 65vh;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/*Hide scrollbar for Chrome, Safari nd Opera */
.app_videos::-webkit-scrollbar {
  display: none;
}

/*Hide scrollbar for IE, Edge and Firefox*/
.app_videos {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}
